.admin-layout {
  display: grid;
  grid-template-columns: 72px 1fr;
  height: calc(100vh - 60px); /* Ajusta al alto real de tu navbar */
}

.admin-content {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}